{% extends 'base.html' %}

{% block content %}

<div>
    <div id="hero" class="position-relative overflow-hidden text-center bg-body-tertiary container"
    style="padding: 16px 16px;">
    <div class="row">
        <div class="col-md-6 px-5 align-items-center" style="text-align:left;">
            <h6>My name is </h6>
            <h1 class="display-3 fw-bold">Jordan <br>Mungujakisa</h1>
            <p class="text-wrap">I am a professional android developer with more than half a decade of
            experience building native android applications.</p>
            <div class="d-flex align-items-start">
                <div class="row">
                    {% load static %}
                    <img class="profile-image"
                    src="{% static 'img/meal.jpg' %}" alt="profile photo" />
                    <p>Kotlin</p></div>
                    <div class="col"><img src=""/>
                        <p>Kotlin</p></div>
                        <div class="col"><img src=""/>
                            <p>Kotlin</p></div>
                        </div>
                        <div class="text-center pt-2">
                            <button
                            type="button"
                            class="btn btn-primary btn-large animate__animated animate__pulse animate__repeat-3 btn-grad"
                            href="#contact">Contact me
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="">
                </div>
            </div>
        </div>

        <div id="projects" class="container">
            <h2 class="text-2xl font-bold mb-4">Projects</h2>

            <div class="row row-cols-3">
                {% for project in projects %}
                <div class="col">
                    <div class="card mb-3 h-100" style="position: relative; overflow: hidden;">
                        <a href="{{ project.link }}">

                            <div style="position: relative;" class="p-0">

                                {% load static %}
                                <img class="card-img-top"
                                src="{% static project.image %}"
                                alt="{{ project.title }}">

                                <div class="card-body p-0"
                                style="position: absolute; bottom: -5%; left: 0; right: 0; margin: 0;">
                                <div class="glass-morph">
                                    <div style="padding: 8px 8px;">
                                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ project.title }}</h6>
                                        <p class="card-text">{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
            {% endfor %}
        </div>

    </div>

    <div id="skills" class="container">
        <h2 class="text-2xl font-bold mb-4">Skills</h2>
        {% for skill in skills %}
        <div class="section">
            <h3>{{ skill.title }}</h3>
            <p>{{ skill.description }}</p>
            <hr/>
        </div>
        {% endfor %}
    </div>

    <div id="education" class="container">
        <h2 class="text-2xl font-bold mb-4">Education</h2>
        <div>
            {% for educ in education %}
            <div class="section">
                <h3>{{ educ.degree }}</h3>
                <p>{{ educ.school }}</p>
                <p>{{ educ.year }}</p>

            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>

    <div id="contact" class="container">
        <h2 class="text-2xl font-bold mb-4">Contact Me</h2>
        <p>Contact form area.</p>
    </div>

</div>